.main-section {
    
    background-color: rgb(32, 33, 36);

    border-left: 1px solid rgb(65, 65, 68);
    &__title {
        display: flex;
        background: rgb(39, 39, 42);

        &-item {
            white-space: nowrap;
            position: relative;
            padding: 12px 16px 12px 15px;

            // color: rgb(255, 255, 255);
            // font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;

            //width: 100vw;

            //border-right: 1px solid rgb(65, 65, 68);
            border-bottom: 1px solid rgb(65, 65, 68);

            &::after {
                content: "";
                position: absolute;
                right: 0;
                /* Выравнивание границы по правому краю */
                top: 0;
                /* Начало границы сверху */
                bottom: 0;
                width: 1px;
                /* Ширина границы */
                //height: 100vh;
                background-color: rgb(65, 65, 68);
                /* Цвет границы */
            }
        }

        &-space {
            width: 100vw;
            border-bottom: 1px solid rgb(65, 65, 68);
        }

    }

}

// body {
//     font-family: Arial, sans-serif;
//     margin: 0;
//     padding: 20px;
// }

main {
    // overflow-x: hidden;
    // overflow-y: auto;
    // max-height: 100vh;
    //width: 100%;
    max-width: 75%;

    .main-section__table {
        width: 100%;
        border-collapse: collapse;
        margin: 12px;

        th {
            padding: 0 12px;
            padding-bottom: 12px;

            color: rgb(161, 161, 170);
            //font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            //     line-height: 130%;
            //    letter-spacing: 0.1px;
            text-align: left;
        }

        td {
            padding: 21px 12px;
            //margin-right: 26px;
            color: rgb(255, 255, 255);
            //font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            // line-height: 130%;
            // letter-spacing: 0.1px;
            text-align: left;

            input {
                width: 100%;
                height: 36px;
                padding: 10px;
                border: 1px solid rgb(65, 65, 68);
                border-radius: 6px;
                background: rgba(0, 0, 0, 0);
                color: rgb(113, 113, 122);
            }
        }

        th,
        td {
            text-align: left;
            white-space: nowrap;
            border-bottom: 1px solid rgb(65, 65, 68);
            min-width: 100px;
        }

        tbody tr:last-child td {
            border-bottom: none;
        }

        .nested {
            padding-left: 20px;
        }

        
        td:nth-child(1) {
            padding-right: 38px;
            /* Установка ширины для первого столбца */
        }

        th:nth-child(2),
        td:nth-child(2) {
            width: 40%;
            /* Установка ширины для второго столбца */
        }

        th:not(:nth-child(1)):not(:nth-child(2)) td:not(:nth-child(1)):not(:nth-child(2)) {
            max-width: 200px;
            
            /* Установка ширины для четвертого столбца */
        }
    }
}


.buttons_container {
    display: inline-flex;
    padding: 6px 7px;

    // display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &_active {
        //color: rgb(255, 255, 255);
        //vertical-align: middle;
        border-radius: 6px;
        background: rgb(65, 65, 68);
        // background-color: rgb(161, 161, 170);
    }

    button {
        cursor: pointer;
        border: 0;
        background-color: transparent;
        height: 16px;
        width: 16px;

    }
}

// .main-section {
//     padding: 20px;
// }

// .main-section__title {
//     display: flex;
//     align-items: center;
//     margin-bottom: 20px;
// }

// .main-section__title-item {
//     font-size: 24px;
//     font-weight: bold;
// }

// .main-section__table {
//     width: 100%;
//     border-collapse: collapse;
// }

// .main-section__table th,
// .main-section__table td {
//     border: 1px solid #ccc;
//     padding: 8px;
//     text-align: left;
// }

// .hierarchy-cell {
//     position: relative;
//     //padding-left: 20px;
// }

// .hierarchy-line {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     width: 20px;
//     height: 1px;
//     background: #ccc;
// }

// .cell-content {
//     padding-left: 10px;
// }

// .level-2 .hierarchy-cell {
//     padding-left: 40px;
// }

// .level-3 .hierarchy-cell {
//     padding-left: 60px;
// }

// .level-4 .hierarchy-cell {
//     padding-left: 80px;
// }

// .level-5 .hierarchy-cell {
//     padding-left: 100px;
// }

// /* Дополнительные стили для линий */
// .level-2 .hierarchy-line::before {
//     content: '';
//     position: absolute;
//     top: -50%;
//     left: 0;
//     width: 1px;
//     height: 50%;
//     background: #ccc;
// }

// .level-2 .hierarchy-line::after {
//     content: '';
//     position: absolute;
//     bottom: -50%;
//     left: 0;
//     width: 1px;
//     height: 50%;
//     background: #ccc;
// }