.main-section {

    background-color: rgb(32, 33, 36);

    border-left: 1px solid rgb(65, 65, 68);

    &__title {
        display: flex;
        background: rgb(39, 39, 42);

        &-item {
            white-space: nowrap;
            position: relative;
            padding: 12px 16px 12px 15px;

            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;

            border-bottom: 1px solid rgb(65, 65, 68);

            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;

                bottom: 0;
                width: 1px;

                background-color: rgb(65, 65, 68);

            }
        }

        &-space {
            width: 100vw;
            border-bottom: 1px solid rgb(65, 65, 68);
        }

    }

}


main {

    max-width: 75%;

    .main-section__table {
        width: 100%;
        border-collapse: collapse;
        margin: 12px;

        th {
            padding: 0 12px;
            padding-bottom: 12px;

            color: rgb(161, 161, 170);

            font-size: 14px;
            font-weight: 400;
            text-align: left;
        }

        td {
            padding: 0 12px;
            color: rgb(255, 255, 255);
            height: 73px;
            font-size: 14px;
            font-weight: 400;

            text-align: left;

            input {
                width: 100%;
                height: 36px;
                padding: 10px;
                border: 1px solid rgb(65, 65, 68);
                border-radius: 6px;
                background: rgba(0, 0, 0, 0);
                color: rgb(113, 113, 122);
            }
        }
        

        th,
        td {

            text-align: left;
            white-space: nowrap;
            border-bottom: 1px solid rgb(65, 65, 68);
            min-width: 100px;
        }

        tbody tr:last-child td {
            border-bottom: none;
        }


        td:nth-child(1) {
            padding-right: 38px;
        }

        th:nth-child(2),
        td:nth-child(2) {
            width: 40%;
        }

        th:not(:nth-child(1)):not(:nth-child(2)) td:not(:nth-child(1)):not(:nth-child(2)) {
            max-width: 200px;

        }
    }
}

.file_icon {
    position: relative;
    width: 100%;
    height: 100%;
    .background_img {
        position: relative;
        z-index: 1;
        background-color: rgb(32, 33, 36);
        width: 100%;
        height: 100%;
    }
}

.buttons_container {
    display: inline-flex;
    padding: 6px 7px;

    // display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &_active {

        border-radius: 6px;
        background: rgb(65, 65, 68);

        .background_img{
            background: rgb(65, 65, 68);
        }

    }

    button {
        cursor: pointer;
        border: 0;
        background-color: transparent;
        height: 16px;
        width: 16px;

    }
}